ul{
  list-style: none;
}

li{
  display: inline-block;
}

.menu{

text-align: right;
  min-width: 600px;
  background: #2f3036;
  height: 60px;
  padding-top: 10px;

}

a{
  text-decoration: none;
  color: white;
  padding-right: 50px;
  font-size: 120%;
  text-transform: uppercase;
  font-family: arial,amaze;
  font-weight:bold;
}
a:hover{
  color: #FF8C00;
}

