<div id="about">
  <div class="info">
    <h1 style="color: #FF8C00; text-align: center">Об организации</h1>
    <div class="aboutMain">
      <div class="logo">
        <img title="Клуб Путешествий" src="../assets/Logo.png">
        <p>&reg; Наш логотип</p>
      </div>
      <p>
        <b style="font-size: 120%;"><i>Клуб Путешествий</i></b> &#8212; это многолетний опыт походов и несколько
        десятков инструкторов – опытных путешественников из Нижнего новгорода.
      </p>
      <p>Каждый год инструкторы, которых вы можете видеть на нашем сайте, отправляются в большое количество путешестивий
        по самым разнообразным маршрутам по всей России и миру и рады пригласить в них всех, кто хочет отдыхать активно.
        Участники наших походов &#8212; это, в основном, молодые люди и девушки,
        но возраст не является для нас ограничением, присоединиться к походам могут как более взрослые, так и более
        молодые участники. Мы предлагаем большое количество активных программ с
        открытым набором в группы - присоединиться можно как одному участнику, так и с друзьями. Для организованных
        групп от 10 человек мы готовы предложить поход по любому из имеющихся у
        нас на сайте маршрутов в отдельные удобные сроки. Инструкторы, с которыми вы можете отправиться в путешествие,
        прошли множество походов и специальную подготовку. Это опытные путешественники,
        увлеченные и творческие люди, для которых походы любого типа, в горы и не только, являются любимым делом и
        важной частью жизни. Они познакомят вас с секретами туристского быта, расскажут о
        природе и достопримечательностях маршрута, окажут поддержку и всю необходимую помощь, помогут организовать в
        группе комфортную психологическую обстановку.
      </p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
